/**
 * @file
 * Put your custom CSS and CSS overrides in this file so that your
 * changes will not be overwritten when upgrading to a new version
 * of this theme.
 */
 body{
  font-family: arial;
 }
 a,  a:visited, a:hover {
    color: #444;
}
.block h2{
  font-size: 1em;
  font-family: "arial black";

}
.region-sidebar-first ul.menu,
.region-sidebar-second ul{
  list-style-type: none;
  margin: 0 0 0 5px;
  padding: 0;
}
ul li.leaf,
.item-list ul li{
  list-style-image: none;
  list-style-type: none;
  margin: 0;
}
select#edit-theme{
  max-width: 100%;
}
