/**
 * @file
 * Pop base CSS.
 */

/* remove annoying border on linked images. */
a img { border: none; }
a     { outline: none; }
a:hover, a:active { outline: 0; }

h1 img, h2 img, h3 img,
h4 img, h5 img, h6 img {
  margin: 0;
}

img {
  max-width: 100%;
}

p img.left, img.left   { float: left; margin: 0 24px 24px 0; padding: 0; }
p img.right, img.right { float: right; margin: 0 0 24px 24px; }

/* remove margins for navigation lists */
nav ul, nav li { margin: 0; }

dl      { margin: 0 0 24px 0; }
dl dt   { font-weight: bold; }
dd      { padding: 0 0 10px 24px; margin-bottom: 14px; }

table           { margin-bottom: 24px; width: 100%; }
th, td, caption { padding: 6px 12px 6px 12px; }
thead th, tfoot th  { border-bottom: none; }

/* form */

input, select, textarea {
  padding: 2px 4px;
}

html.js input.form-autocomplete {
  background-position: 100% 5px;
}


/*--- drupal override --- */
tbody,
tbody th,
tr.even,
tr.odd {
  border: none;
}


ul.links li {
  padding-left: 0;
}

li.leaf,
li.expanded,
li.collapsed {
  padding: 0;
  margin: 0;
}

ul.action-links {
  margin: 1em 0;
  padding: 0 20px 0 20px;
  list-style-type: none;
  overflow: hidden;
}
ul.action-links li {
  float: left;
  margin: 0 1em 0 0;
}
ul.action-links a {
  padding-left: 15px;
  background: transparent url(../images/add.png) no-repeat 0 center;
  line-height: 30px;
}

#autocomplete li {
  margin: 0;
}

dd {
  margin-left: 10px;
}

#views-ui-analyze-view-button input {
  margin-top: 10px;
}

#node-admin-filter ul li,
#user-admin-filter ul li {
  list-style: none;
}

#node-admin-filter dl.multiselect .form-item,
#user-admin-filter dl.multiselect .form-item {
  height: 33px;
}

#node-admin-content .container-inline div,
#user-admin-account .container-inline div {
  display: block;
}

#node-admin-content #edit-operation-wrapper,
#user-admin-account #edit-operation-wrapper {
  float: left;
  margin-right: 10px;
}

#node-admin-content .form-submit,
#user-filter-form .form-submit,
#user-admin-account .form-submit {
  margin: 0;
}

.hierarchical-select select {
  height: auto !important;
}

tr.content-add-new a.tabledrag-handle {
  display: none;
}

#views-ui-edit-view-form {
  margin-bottom: 30px;
}

form#views-ui-preview-form input#preview-submit {
  margin: 15px 0 0;
}

.display-node li,
#context-ui-form li {
  list-style: none;
  list-style-type: none;
}

#views-ajax-pad fieldset {
  padding: 10px;
  margin: 10px;
}

.filter-wrapper {
  padding: 0;
}

/* links */
ul.links {
  padding: 0;
  margin: 0;
  border: none;
}

ul.links li {
  list-style: none;
  margin: 0 4px 4px 0;
  padding: 0;
  border: none;
  display: inline-block;
}

ul.links.inline li {
  float: none;
}

ul.links li a {
  padding: 0;
  margin: 0;
  border: none;
  margin-right: 5px;
  text-decoration: none;
}

ul.links.inline li a {
  display: inline;
  padding: 0;
  margin-right: 10px;
  text-decoration: none;
}

ul.links a.active,
ul.links li.active a {
  border: none;
}


/* menus */
ul.menu {
  margin-left: 12px;
}

/* node links */
.node-links ul.links li a {
  padding: 0;
  margin-right: 10px;
}

/* nodes */
.node { margin-bottom: 24px; }

.node-teaser,
div.panel-pane div.node-teaser {
  padding-bottom: 24px;
  margin-bottom: 24px;
  border-bottom: 1px dotted #ccc;
}

/* comments */
.comment-name { display: inline; }

.indented { margin-left: 20px; /* LTR */ }

/* fieldset */
fieldset {
  padding: 30px 0 0 0;
  position: relative;
  margin: 12px 0;
}
fieldset .fieldset-legend {
  font-weight: bold;
  margin-top: 6px;
  padding-left: 15px;
  position: absolute;
}
fieldset .fieldset-wrapper {
  padding: 12px 13px 12px 15px;
}
html.js fieldset.collapsed {
  border-width: 1px;
  height: auto;
}

/* vertical-tabs */
div.vertical-tabs ul.vertical-tabs-list li a:focus strong,
div.vertical-tabs ul.vertical-tabs-list li a:active strong,
div.vertical-tabs ul.vertical-tabs-list li a:hover strong {
  text-decoration: none;
}
div.vertical-tabs ul li.vertical-tab-button a:hover,
div.vertical-tabs ul li.vertical-tab-button a:focus {
  text-decoration: none;
  outline: 0;
}
div.vertical-tabs ul li.first.selected a,
div.vertical-tabs ul li.first.selected a:hover {
  border-top: 0;
}
div.vertical-tabs fieldset.vertical-tabs-panes {
  padding: 12px 20px 12px 0;
}
div.vertical-tabs fieldset.vertical-tabs-pane .fieldset-wrapper {
  border-top: 0;
}

/* blocks */
.block {
  margin-bottom: 24px;
}

/* breadcrumb */
.breadcrumb {
  padding-bottom: 24px;
}

/* token */
.token-tree {
  margin-left: 0;
}

/* grid overlay */
#pop-grid {
  bottom: 0;
  display: none;
  position: fixed;
  top: 0;
  z-index: 900;
}
#pop-grid-switch {
  bottom: 0;
  left: 10px;
  background: #3d5fa3;
  border: 2px solid #fff;
  border-bottom: none;
  color: #fff;
  cursor: pointer;
  font-size: 13px;
  line-height: 13px;
  padding: 2px 8px 6px 8px;
  position: fixed;
  border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  z-index: 1000;
}
.pop-col {
  position: absolute;
  top: 0;
  bottom: 0;
  background-color: #3d5fa3;
  opacity: 0.5;
  color: #fff;
  font-size: 13px;
  padding-top: 80px;
}


/* =============================================================================
   Print styles.
   Inlined to avoid required HTTP connection: www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } /* Black prints faster: sanbeiji.com/archives/953 */
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* css-discuss.incutio.com/wiki/Printing_Tables */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}
