/*
 * @file
 * Pop theme IE CSS.
 */

/*--- General Old IE (< ver. 9) fixes --- */
.ie7 input[type="checkbox"], input[type="checkbox"], input.form-checkbox { vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }

blockquote p { margin-bottom: 0; }

fieldset { padding-top: 12px; }
/* IE7 renders legends in nested fieldsets without a width. */
fieldset legend {
  height: 1%;
}

/* IE renders absolute positioned legend where fieldset content starts. */
fieldset .fieldset-legend {
  left: 0;
  top: 0;
}
